:root {
  --h1-color: #000;
  --paragraph-color: #565656;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Avertastevia';
  src: url('../fonts/Avertademo.ttf');
}

html {
  font-family: 'Avertastevia', sans-serif;
}

header, section {
  margin: 40px 0;
}

#container {
  width: 1150px;
  margin: auto;
}

.cabecalho {
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  width: 1050px;
}

.cabecalho .titulo {
  font-size: 25px;
  font-weight: normal;
}

.cabecalho .titulo .destaque {
  font-weight: bold;
  margin-right: -3px;
}

.cabecalho .navegacao {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.cabecalho .navegacao .lista {
  display: flex;
  gap: 50px;
}

.cabecalho .navegacao .lista .item {
  font-size: 14px;
  list-style: none;
  cursor: pointer;
  font-weight: bold;
  transition: 600ms;
}

.cabecalho .navegacao .lista .item:hover {
  font-size: 17px;
}

.cabecalho .navegacao .lista .item.-ultimo-item {
  margin-right: 20px;
}